tmp/
node_modules/
.env
.env.development
.env.production
dist/
*.aux
*.log
*.out
*.pdf
*.toc
*.synctex.gz
*.fdb_latexmk
*.fls
package-lock.json
node_modules/
out/
agentok_example/
.vibecanvas.json
.cursor
.vscode
.vscode-test
ideas.md
